.coin-container .content{
    max-width: 800px;
    margin:1rem auto;
    padding: 0.7rem 1rem;
    display:flex;
    flex-direction: column;
    background-color: #2f313ad4;
    box-shadow: 0px 0px 12px black;
    border-radius:8px;
    font-size:1.2rem;
}
.rank{
    margin: 0.5 0;
}
.rank-text{
    border:1px solid #f06d10;
    box-shadow: 0px 0px 8px #333;
    background-color: #f06d10;
    border-radius:8px;
    padding:.2rem;
}
.info{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.info .coin-heading{
    display:flex;
    align-items: center;
    margin:1rem 0;
}
.info .coin-price{
    display:flex;
    align-items: center;
    justify-content: center;
}
.info p{
    padding-right: 1rem;
}
table{
    margin: .5rem 0;
}
td, th{
    padding:5px;
    text-align: center;
}
th{
    background-color: #333;
}
.stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    width:100%;
}
.stats .row{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
    margin: 0.5rem 0;
    padding-bottom: 0.5rem ;
}
.stats .row p:first-clid{
    color: #d3d3d3;
}
.about h3{
    margin: 1rem 0;
}
@media screen and (max-width:700px){
    .coin-container .content{
        max-width:100%;
        margin: .5rem;
        padding: 0 .5rem;
    }
    .stats{
        grid-template-columns: 1fr;
    }
    td,th{
        padding:3px
    }
}